@use "@/assets/scss/utils/variables";

.hero {
  @apply relative;

  &__image {
    @apply bg-cover bg-no-repeat bg-center w-full;
    padding-top: 100%;
    background-image: url("@/assets/images/image_600x600.png");

    @media (min-width: 768px) {
      padding-top: 33.85%;
      background-image: url("@/assets/images/image_1920x650.png");
    }
  }

  &__texts {
    @apply absolute inset-0 flex flex-col items-center justify-center mt-0 md:mt-2 px-3 text-white text-center;
  }
  &__title {
    @apply text-5xl md:text-7xl font-bold tracking-wider md:tracking-wide leading-relaxed;
  }
  &__message {
    @apply text-2xl md:text-4xl -mt-2 md:mt-4 tracking-widest md:tracking-wider leading-relaxed;
  }
}
